.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Overall Styling */
html {
  /* border: 2px dashed red; */

  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 330px){
  html {
    width: 330px;
    overflow: auto;
  }
}
@media screen and (max-height: 400px) {
  html {
    height: 400px;
    overflow: auto;
  }
}


/* Header */
.header h1 {
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}


.header p a {
  color: orange;
  text-decoration: underline green;
}

.header p a:hover {
  color: blue;
  text-decoration: none;
  background-color: lightgreen;
}


div.header {
  border: 2px dashed blue;
  padding: 20px;
  margin: 20px;
}

/* Filter Button Styling */
div.filters {
  display: flex;
  justify-content: space-around;
  height: 5em;
  padding: 20px;
}

.toggle-btn {
  flex: 1;
  border: 2px dashed blue;
  background-color: white;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

.toggle-btn:hover {
  background-color: lightgreen;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}


/* Content Tile Styling */

/* Main Content Styling */
.main-content {
  display: flex;
  flex-wrap: wrap;
}

div.loading-content {
  font-size: 100px;
  /* border: 2px dashed orange; */
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  margin: 20px;
}

/* Like button */
div.likebutton {
  text-align: center;
  padding: 5px;
  border-right: 2px dashed orange;
  width: 50px;
  font-size: 30px;

  flex: 1 30px;
}

/* Footer Styling */
div.footer p {
  border: 2px dashed blue;
  padding: 20px;
  margin: 20px;
}

div.footer p:hover{
  border: 4px dashed blue;
}